.popup_opened {
    display: block;
    /* transition: visibility .3s ease,opacity .3s linear;
    visibility: visible;
    opacity: 1;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; */
    opacity: 1;
    visibility: visible;
}