.profile__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;   
    margin-bottom: 16px;
    margin-top: 22px;
    width: max-content;
}

@media all and (max-width: 910px) {
    .profile__title {
        
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin: 22px 0 14px 0;
    }
}