.kartinka {
    /* position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00000080;
  opacity: 0;
 visibility: hidden;
    justify-content: center; 
    align-items: center;
    transition: 1s; */
} 
