.profile__info {
    max-height: 73px;
    top: 62px;
    padding-left: 30px;
}

@media all and (max-width: 910px) {
    .profile__info {
        text-align: center;
        padding-bottom: 36px;
        margin: auto;
    }
}
